.add{
  width: 100%;
  display: flex;
  justify-content: center;

  .addButton {
    width: 30%;
    height: 30px;
    background-color: aqua;
    border: 1px solid gainsboro;
    border-radius: 25px;
    color: rgba(0, 0, 0, 0.65);
    text-transform: uppercase;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-weight: bold;
  }
}

.specializations {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;

  .specialization {
    width: 25%;
    margin: 1%;
    text-align: center;
    border: 1px solid gainsboro;
    border-radius: 20px;
    padding: 2%;

    &Name {
      font-size: 2rem;
    }

    .buttons {

      .button {
        width: 40%;
        padding: 2%;
        background-color: aqua;
        border: 1px solid gainsboro;
        border-radius: 25px;
        margin: 1%;
      }

      &Edit {

      }

      &Remove {

      }
    }
  }
}