.footer {
  &__blackbar_wrapper {
    width: 100%;
    color: #1c2b43;
    background-color: #edeef0;
    font-size: 0.8125rem;
    line-height: 0.875rem;
    padding: 0.5rem 0;
  }
}

.footer__blackbar {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  list-style: none;
  align-items: center;
}

.github__links {
  display: flex;
  gap: 20px;
}

.github__link {
  display: flex;
  color: #1c2b43;
  text-decoration: none;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
  &:hover {
    scale: 1.05;
  }
}

.github__logo {
  width: 15px;
  margin-right: 5px;
}

.rsschool__link {
  display: block;
  text-decoration: none;
  width: 90px;
  color: #1c2b43;
  height: 30px;
  background: transparent url(../../../assets/rs_school.svg);
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.2s;
}

.rsschool__link span {
  display: none;
}

.rsschool__link:hover {
  scale: 1.05;
}

.link_disabled {
  cursor: not-allowed;
}
