.form {
  width: 320px;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);

  .title {
    align-self: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 36px;
    font-weight: 400;
  }

  // .submit__btn {
  //   margin-top: 35px;
  //   height: 35px;
  //   font-size: 20px;
  //   cursor: pointer;
  //   background-color: #007bff;
  //   border-radius: 0.25rem;
  //   color: white;
  //   border: none;
  //   transition: 0.2s;
  //   &:hover {
  //     background-color: #0056b3;
  //   }
  //   &:disabled {
  //     opacity: 0.5;
  //     pointer-events: none;
  //   }
  // }

  .changeModal__btn {
    margin-top: 20px;
    border: none;
    text-decoration: underline;
    background: none;
    cursor: pointer;
    color: var(--text-color);
  }
}
