.input__wrapper {
  height: 90px;
  font-size: 22px;
  line-height: 32px;
}

.input {
  box-sizing: border-box;
  font-size: 20px;
  line-height: 20px;
  width: 100%;
  height: 30px;
  background-color: var(--background-color);
  color: var(--text-color);
}

.error {
  font-size: 13px;
  line-height: 16px;
  color: rgb(191, 1, 1);
}

.pass_label {
  font-size: 15px;
}